Andreu Correa Casablanca <andreu@adsmurai.com>
Andreu Correa Casablanca <andreu@adsmurai.com> <castarco@litipk.com>
Joel Rodríguez <joel@adsmurai.com> <33657339+joeladsmurai@users.noreply.github.com>
Jordi Creus <jordi@adsmurai.com> <monitotxi@gmail.com>
Juan Manuel Mingot Castellano <juanma@adsmurai.com>
